@import 'scss-variables';

.Map {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    user-select: none;

    &__myLocation {
        --fa-primary-color: #666;
        --fa-secondary-color: #666;
        --fa-primary-opacity: 1;
        --fa-secondary-opacity: 1;

        width: 40px;
        height: 40px;
        margin: 0 10px;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        background: #FFF;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
        user-select: none;

        &:hover {
            --fa-primary-color: #333;
            --fa-secondary-color: #333;
        }
        &--active {
            --fa-primary-color: #4285F4;
            --fa-secondary-color: #4285F4;

            animation: blinkDuotone 2s infinite;

            :global(.fa-secondary) {
                transition: opacity 0.5s;
            }
            &:hover {
                --fa-primary-color: #4285F4;
                --fa-secondary-color: #4285F4;
            }
        }
        &--error {
            --fa-primary-color: #{$red};
            --fa-secondary-color: #{$red};

            &:hover {
                --fa-primary-color: #{$red};
                --fa-secondary-color: #{$red};
            }
        }
    }
    &__locationCenter {
        width: 20px;
        height: 20px;
        background: #4285F4;
        border: 2px solid #FFF;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
    }
    &__marker {
        $color: $green;
        $size: 70px;

        position: relative;
        display: block;
        width: $size;
        height: $size;
        padding: 6px;
        background: #FFF;
        border: 5px solid $color;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 0;
        // transform: scale(-1, 1) translate(100%, 0); // reverse map marker
        box-sizing: border-box;
        transform-origin: 0 0;
        transition: transform 0.3s;

        &__icon {
            width: 100%;
            height: 100%;
            background: url('../../images/m365-icon.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        &__battery {
            --fa-secondary-color: #000;
            --fa-primary-opacity: 1;
            --fa-secondary-opacity: 0.6;

            position: absolute;
            top: 0;
            left: 0;
            width: $size / 2;
            font-size: 20px;
            line-height: $size / 2;

            &--red {
                --fa-primary-color: #{$red};
            }
            &--orange {
                --fa-primary-color: #{$orange};
            }
            &--yellow {
                --fa-primary-color: #{$yellow};
            }
            &--green {
                --fa-primary-color: #{$green};
            }
        }
        &--hover {
            transform: scale(1.2);
        }
        &--red {
            border-color: $red;
        }
        &--orange {
            border-color: $orange;
        }
        &--yellow {
            border-color: $yellow;
        }
        &--green {
            border-color: $green;
        }
    }
    &__scooterOverlay {
        $iconSize: 100px;

        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 1;
        width: 300px;
        height: 250px;
        padding: 0;
        transform: translate(-50%, calc(100% + #{$iconSize / 2} + 10px));
        transition: transform 0.4s ease;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #FFF;
            border: 1px solid rgb(200, 200, 200);
            border-top-right-radius: $iconSize / 2;
            border-top-left-radius: $iconSize / 2;
            content: '';
            box-shadow: 0 0 7px -1px rgba(0, 0, 0, 0.3);
            box-sizing: border-box;
        }
        &__iconBackground {
            position: absolute;
            top: -#{$iconSize / 2 + 10px};
            left: calc(50% - #{$iconSize / 2 + 10px});
            width: #{$iconSize + 20px};
            height: #{$iconSize / 2 + 10px};
            overflow: hidden;

            &::before {
                position: absolute;
                top: 10px;
                left: 10px;
                width: $iconSize;
                height: $iconSize;
                border: 1px solid rgb(200, 200, 200);
                border-radius: $iconSize;
                content: '';
                box-shadow: 0 0 7px -1px rgba(0, 0, 0, 0.3);
                box-sizing: border-box;
            }
        }
        &__icon {
            position: absolute;
            top: -$iconSize / 2 + 1px;
            left: calc(50% - #{$iconSize / 2} + 1px);
            width: #{$iconSize - 2px};
            height: #{$iconSize - 1px};
            background-color: #FFF;
            background-image: url('../../images/m365-icon.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 70%;
            // border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: $iconSize;
            box-sizing: border-box;
        }
        &__content {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: $iconSize / 2 10px 0;
            box-sizing: border-box;
        }
        &__entry {
            display: flex;
            justify-content: space-between;
        }
        &__label {
            font-size: 20px;
            vertical-align: middle;
            opacity: 0.7;
        }
        &__value {
            font-size: 20px;
            vertical-align: middle;
        }
        &__lock {
            display: block;
            width: 150px;
            height: 23px;
            padding: 10px 16px;
            margin: auto auto 10px;
            text-align: center;
            border: 1px solid $red;
            border-radius: 10px;

            &:global(.materialButton) {
                color: $red;
            }
            &--unlock {
                border-color: $green;

                &:global(.materialButton) {
                    color: $green;
                }
            }
        }
        &--active {
            transform: translate(-50%, 0);
        }
    }
}

@keyframes blinkDuotone {
    0% {
        --fa-secondary-opacity: 0.5;
    }
    50% {
        --fa-secondary-opacity: 0.8;
    }
    100% {
        --fa-secondary-opacity: 0.5;
    }
}
