html,
body,
#app {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', 'Arial', sans-serif;
}
.header__list {
    padding: 0;
    margin: 0;
    border: 1px solid #777;
}
.header__link {
    list-style: none;
}
