@import 'scss-variables';

.Header {
    -webkit-tap-highlight-color: transparent;

    :global(.materialButton) {
        user-select: none;
    }
    &__burger {
        position: absolute;
        top: 10px;
        left: 0;
        z-index: 1;
        font-size: 0;
        text-align: center;

        :global(.materialButton) {
            width: 50px;
            height: 50px;
            padding: 12px 0;
            margin: 0;
            font-size: 26px;
            line-height: 0;
            background: #FFF;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            box-sizing: border-box;
        }
    }
    &__logo {
        width: 100%;
        height: 100px;
        cursor: pointer;
        background: url('../../images/logo-adsero.png') no-repeat;
        background-position: center center;
        background-size: 50%;

        img {
            display: block;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }
    &__nav {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
        max-width: 310px;
        background: #FFF;
        transform: translate(-100%, 0);
        transition: transform 0.3s;
    }
    &__list {
        padding: 3px 0 3px;
        text-align: center;
        border-top: 1px solid #DDD;
    }
    &__login {
        padding: 3px 0 3px;
        margin: auto 0 0;
        text-align: center;
        border-top: 1px solid #DDD;
    }
    &__socialTitle {
        margin: 7px 0 10px;
        opacity: 0.8;
    }
    &__socialLink {
        display: inline-block;
        width: 134px;
        margin: 0 3px;
        font-size: 0;
        vertical-align: middle;

        :global(.materialButton) {
            width: 100%;
            padding: 10px;
            font-size: 18px;
            line-height: 18px;
            box-sizing: border-box;

            :global(.text) {
                margin-left: 5px;
                color: #333;
            }
        }
        &--facebook {
            :global(.materialButton) {
                color: #3B5998;
            }
        }
        &--google {
            :global(.materialButton) {
                svg {
                    opacity: 0;
                }
                :global(.text) {
                    position: relative;

                    &::after {
                        position: absolute;
                        top: 50%;
                        left: -10px;
                        width: 24px;
                        height: 24px;
                        background: url('../../images/google_logo.png') no-repeat;
                        background-position: 50% 50%;
                        background-size: contain;
                        content: '';
                        transform: translate(-100%, -50%);
                    }
                }
            }
        }
    }
    &__socialDelimiter {
        display: inline-block;
        width: 30px;
        vertical-align: middle;
        opacity: 0.3;
    }
    &__backdrop {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100vw;
        height: 100vh;
        pointer-events: none;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.7);
        opacity: 0;
        transition: opacity 0.3s;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
    }
    &--active {
        .Header {
            &__nav {
                transform: translate(0, 0);
            }
            &__backdrop {
                pointer-events: all;
                opacity: 1;
            }
        }
    }
}
